@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: lightgray;
    width: 434px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 72px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav li a {
   text-decoration: none;
   color: black;
}

.main {
    background-color: white;
    width: 90vw;
}

.main1 {
    background-color: white;
    width: 90vw;
    padding: 263px;
}

.container {
    display: flex;
}

.infoContainer {
    background-color: white;
    height: 57vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.Hello{
    font-size: 48px;
}

.Name{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.About{
    font-size: 23px;
}

.buttons{
    margin-top: 34px;
}

.btn{
    padding: 6px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.devPic img{
    height: 57vh;
}

.contactform{
    font-family: 'Hedvig Letters Sans', sans-serif;
    padding: 0 54px;
    padding-top: 144px;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 26vw;
    margin: 6px 0 0 0;
    border-radius: 5px;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.achivementscontainer{
    font-family: 'Hedvig Letters Sans', sans-serif;
}

h1{
    font-family: 'Hedvig Letters Sans', sans-serif;
}

p{
    font-family: 'Source Code Pro', monospace;
}

.intro h2{
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.skills{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundered{
    width: 265px;
    background-color: green;
}

.fifty{
    width: 125px;
    background-color: orange;
}

.t5{
    width: 75px;
    background-color: red;
}

@media (max-width:494px){
    *{
        background-color: red;
    }
    .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }
}